.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 30px;
  width: 40%;
  margin: auto;
}
.input-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-box {
  width: 70%;
  height: 40px;
}
.button {
  width: 20%;
  background-color: lightblue;
  border: 1px solid lightblue;
}
.row {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightblue;
  padding: 10px 0px;
  font-size: 15px;
}
.input-value {
  width: 200px;
  text-align: left;
  color: blue;
  letter-spacing: 3px;
}
.error {
  width: 260px;
  font-size: 11px;
  text-align: left;
  color: red;
}

@media only screen and (max-width: 778px) {
  .App {
    padding: 30px 10px;
    width: 90%;
  }
}
